/* Authorizematerial.css */

/* Style for regular links */
a {
    color: #007bff; /* Change link color to blue */
    text-decoration: none; /* Remove default underline */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  /* Style for links with target="_blank" (to open in a new tab) */
  a[target="_blank"] {
    color: #dc3545; /* Change link color to red */
    font-weight: bold; /* Make the link text bold */
  }
  
  a[target="_blank"]:hover {
    text-decoration: none; /* Remove underline on hover */
  }
 .view_description{
    border:1px solid rgb(242, 239, 235);
    box-shadow: 0px 3px 4px grey;
    background-color: white;
    font-size: 20px;color:black
 }
 .view_pdfsetting{
    background-color:rgb(229, 224, 217);
    padding:20px;
    margin-top: -20px;
 }
 .drive_btn{
    width:150px;
    height:150px;
    object-fit: contain;
    cursor: pointer; 
    border:1px solid rgb(242, 239, 235);
    box-shadow: 0px 3px 4px grey;
    border-radius: 30px;
 }
 .drive_img{
    width:100%;
    height: 100%;
 }

 .access_drivematerial{
    margin:100px 0;
 }
 .drive_yt_setting{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:40%;
 }
 .tutor_access{
   width:80%;
   height: 50vh;
   margin: 0 auto;
   object-fit: contain;
   /* background-repeat: no-repeat;
   /* background-attachment: fixed; */
   /* background-position: center;  */
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('../../assets/vinside.jpg');
   border-radius: 20px;
 }
 .tutor_access_n1{
   background-color: white;
   display: flex;
  justify-content: center;
   flex-direction: column;
   margin:40px 50px;
   padding:0px 20px;
   width:400px;
   height: 200px;

 }
 .tutor_access_n1 Button{
   margin-top: 10px;
 }
 .publish_coursebtn{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center
  ;margin: 30px 0;
  
 }