.footer {
    background-color: #28282b;
    color: #FFFFFF;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .linkList {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .linkList li {
    margin-bottom: 1rem;
  }
  